
#confirm {display:none;}

.msg_content{display:none;}

/* Overlay */
#confirm-overlay {background: #eeeeee url(../images/ui-modal-bg.png) 50% 50% repeat; opacity: .50;filter:Alpha(Opacity=50);}

/* Container */
#confirm-container {
	height:140px; 
	width:420px; 
	font-size:12px; 
	text-align:left; 
    background: #F0F0F0;
	border: 2px solid #4D4D4D;
    border-radius: 5px 5px;
	-moz-border-radius: 5px 5px;
}
#confirm-container .header {
	font-size: 12px; 
	font-style: normal; 
	height:20px; 
	line-height:20px; 
	width:418px; 
	color:#ffffff; 
	background: none repeat scroll 0 0 #4D4D4D;
    border: 1px solid #4D4D4D;
	font-weight: normal;
}
#confirm-container .header span {
	padding-left:8px;
}
#confirm-container .message {
	color:#212121; 
	font-size:12px; 
	margin:0 auto; 
	padding:8px 8px 10px 8px;
	text-align: center;
}
#confirm-container .buttons {
	padding-left: 8px; 
	padding-bottom: 0; 
	padding-right: 8px; 
	padding-top: 2px; 
	line-height:18px; 
	width:155px; 
	margin: 0 auto;
} 
#confirm-container .buttons div {
	font-family: Arial, Helvetica, sans-serif;
	float: right; 
	margin-left: 4px;  
	width: 60px; 
	height: 18px; 
	color: #3a4c66;
	font-weight: normal; 
	text-align: center;  
	text-decoration: none;
	cursor:pointer;
	background: none repeat scroll 0 0 #eff2f7;
	border-left: solid 1px #E1E8F0;
	border-top: solid 1px #E1E8F0;
	border-right: solid 1px #C2C9D7;
	border-bottom: solid 1px #C2C9D7;
} 
#confirm-container a.modal-close,
#confirm-container a.modal-close:link,
#confirm-container a.modal-close:active,
#confirm-container a.modal-close:visited
#confirm-container a.modal-close:hover  {
	font-style: normal; 
	text-decoration:none; 
	font-weight: normal; 
	position:absolute; 
	right:4px; 
	top:4px; 
	color:#ffffff;
}
 
 