#mask {
	position: absolute; /* important */
	top: 0px; /* start from top */
	left: 0px; /* start from left */
	height: 100%; /* cover the whole page */
	width: 100%; /* cover the whole page */
	display: none; /* don't show it '*/
	background: url("../images/ui-modal-bg.png") repeat scroll 50% 50% #EEEEEE;
}

/* style a specific modal window  */
#modal_window {
	position: absolute;
    height: 220px;
    height: 60px;
	display: none;
	padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;

	border: 2px solid #4D4D4D;
    border-radius: 5px 5px;
	-moz-border-radius: 5px 5px;
	background: #F0F0F0;
	color: #212121;
}

.loading_image {
	border: 0 none;
	vertical-align: middle;
	margin-top: 1px;
	margin-bottom: 5px;
	margin-left: 5px;
}